@model SerieList.Presentation.Models.ViewModels.LoginViewModel
<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    @Html.EditorFor(model => model.UserNameOrEmail, new { @class = "validate", @id = "icon_prefix" })
                    @Html.LabelFor(model => model.UserNameOrEmail)
                    @Html.ValidationMessageFor(model => model.UserNameOrEmail, null, new { @class = "helper-text red-text" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">vpn_key</i>
                    @Html.EditorFor(model => model.Password, new { @class = "validate", @id = "icon_vpn_key" })
                    @Html.LabelFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "helper-text red-text" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <label>
                        @Html.CheckBoxFor(model => model.KeepConnected)
                        <span>Manter Conectado</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light right" type="submit" name="action">
                        Entrar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
}