<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Site/css")
    @Styles.Render("~/Toastr/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <div class="navbar-fixed">
            <nav class="indigo darken-3">
                <div class="nav-wrapper">
                    <a href="@Url.Action("Index","Home")" class="brand-logo center">
                        <img src="@Url.Content("~/Content/img/logo.png")" class="logo" />
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Início", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav indigo darken-3 " id="mobile-demo">
            <li>@Html.ActionLink("Início", "Index", "Home", new { area = "" }, new { @class = "grey-text text-lighten-5" })</li>
            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "grey-text text-lighten-5" })</li>
        </ul>

        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer indigo darken-3 ">
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Serielist</p>
            </div>
        </div>
    </footer>

    <input type="hidden" id="success"
           value="@TempData["success"]" />
    <input type="hidden" id="info"
           value="@TempData["info"]" />
    <input type="hidden" id="warning"
           value="@TempData["warning"]" />
    <input type="hidden" id="error"
           value="@TempData["error"]" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Toastr/js")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $('.sidenav').sidenav();
            $("input[type='hidden']").each(function (index, element) {
                $(this).appendTo($(element).parent());
            });
            Toastr();
        });
        function Toastr() {
            var displayMessage = function (message, msgType) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": msgType != "error" ? "300" : "600",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut",
                    "tapToDismiss": false
                };
                toastr[msgType](message);
            };

            if ($('#success').val()) {
                displayMessage($('#success').val(), 'success');
            }
            if ($('#info').val()) {
                displayMessage($('#info').val(), 'info');
            }
            if ($('#warning').val()) {
                displayMessage($('#warning').val(), 'warning');
            }
            if ($('#error').val()) {
                displayMessage($('#error').val(), 'error');
            }
        }
    </script>
</body>
</html>
