<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Site/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main>
        <div class="navbar-fixed">
            <nav class="indigo darken-3">
                <div class="nav-wrapper">
                    <a href="@Url.Action("Index","Home")" class="brand-logo center">
                        <img src="@Url.Content("~/Content/img/logo.png")" class="logo" />
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Início", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav indigo darken-3 " id="mobile-demo">
            <li>@Html.ActionLink("Início", "Index", "Home", new { area = "" }, new { @class = "grey-text text-lighten-5" })</li>
            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "grey-text text-lighten-5" })</li>
        </ul>

        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer indigo darken-3 ">
        <div class="footer-copyright">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Serielist</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>
